# Ignore node modules, environment variables

# root directory
.vscode
node_modules/
*/node_modules/
.DS_Store
README-mia.md

# footnote-backend directory
footnote-backend/.env
footnote-backend/config/ca-certificate.crt

node_modules
