/* General Page Styles */

#projectpage * {
  cursor: url("../../assets/cursor-shadow.png"), auto;
}

#projectpage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/holographic-background.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: repeat-y;
  filter: brightness(0.6);
  z-index: -10;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  width: 600px;
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.title-container {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.title-input {
  outline: none;
  background-color: transparent;
  text-align: center;
  font-size: 48px;
  font-weight: 650;
  border: none;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Nice text shadow */
}

/* Main content section */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Left Half - Placeholder for Video Player */
.video-placeholder {
  width: 100%;
  height: 60vh;
  background-color: #c0c0c0;
  border: 3px solid black;
  position: relative;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-in-out;
}

.video-placeholder:hover {
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.4); /* Darker shadow on hover */
}

.import-message-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(0%, -160%);
  z-index: 10;
}

.import-close-button {
  position: absolute;
  width: 18px;
  left: 86%;
  top: 6.5%;
  z-index: 20;
}

.upload-video-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  z-index: 10;
  background: none;
}

.upload-video-button-img {
  width: 25px;
  height: 25px;
}

/* Right Half - Annotation Section */
.annotation-section {
  background-image: url("../../assets/annotation-window.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-in-out;
}

.annotation-section:hover {
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.4); /* Darker shadow on hover */
}

.scroll-space {
  padding-top: 30px;
}

.annotation-heading {
  font-size: 20px;
  font-weight: 800;
  justify-content: center;
  display: flex;
  padding: 6px 0px 5px 0px;
}

.annotation-container {
  max-height: 56vh;
  overflow-y: auto; /* vertical scrolling */
  padding: 0px 10px 0px 10px;
}

.annotation-text {
  color: black;
  font-weight: 600;
}

.annotation-item {
  border: 2.5px solid black;
  background-color: white;
  margin: 0 4px 7px 7px;
  transition: box-shadow 0.1s ease-in-out;
}

.annotation-item:hover {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.4); /* Darker shadow on hover */
}

/* for annotation base item form control */
.no-border-shadow {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Flex utility classes */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.border-end {
  border-right: 2px solid #eaeaea;
}

.home-button,
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  z-index: 1000; /* Ensures it's on top of other elements */
}

.home-button {
  left: 40px;
}

.delete-button {
  left: 50vw;
  transform: translateX(-50%);
}

.home-icon,
.delete-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Optional: Styling for responsive behavior */
@media (max-width: 768px) {
  .container-fluid {
    width: 90%;
    margin-top: 100px;
  }
}
